<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="Home :: siteHead"></head>
<header th:replace="Home :: siteHeader"></header>
<main>
    <h1> ADMIN Pages </h1>
    <h1> Add Item Page </h1>
    <form action="/admin/addItem" method = "post">
        <label>Item Name <input type="text" name="name" ></label><br>
        <label>Item Description <input type="text" name="description" ></label><br>
        <label>Item Price <input type="number" name="price" ></label><br>
        <button type="submit">Submit</button>
    </form>



</main>

<span th:replace="Home :: siteFooter"></span>